<div class="conteneur-catalogue">
    <div class="header-catalogue">
        <h1>Catalogue des cours</h1>
        <p>Explorez les technologies cles du developpement web a votre rythme.</p>
    </div>

    <div class="barre-filtres">
        <button class="btn btn-filter active" data-technologie="tous">Tous</button>
        <button class="btn btn-filter" data-technologie="html">HTML</button>
        <button class="btn btn-filter" data-technologie="css">CSS</button>
        <button class="btn btn-filter" data-technologie="javascript">JavaScript</button>
        <button class="btn btn-filter" data-technologie="php-mysql">PHP & MySQL</button>
    </div>

    <div id="grille-catalogue-cours" class="grille-cours">

    </div>
</div>