<div class="conteneur-certificats">
    <div class="header-certificats">
        <h1>Mes Certificats</h1>
        <p>Validez vos quiz avec un score minimum de 80% pour debloquer vos certificats officiels.</p>
    </div>

    <div id="liste-certificats-debloques" class="grille-certificats">

    </div>

    <div id="modal-certificat" class="masque">
        <div class="boite-modale-certificat">
            <button id="btn-fermer-modale">x</button>
            <div id="zone-rendu-certificat">

            </div>
            <div class="actions-modale">
                <button id="btn-imprimer-certificat">Imprimer/Sauvegarder en PDF</button>
            </div>
        </div>
    </div>
</div>
