<div class="promoteur-container">
    <div class="header-page">
        <h1>Gestion des Modules</h1>
        <p>En tant que promoteur, vous pouvez definir les modules de cours de la plateforme.</p>
    </div>

    <div class="form-carte">
        <h3>Ajouter un nouveau module</h3>
        <form id="formulaire-module">
            <div class="groupe-saisie">
                <label for="code-module"></label>
                <input type="text" id="code-module" name="code" placeholder="Code unique du module (ex:HTML/CSS/JS)"
                    required>
            </div>
            <div class="groupe-saisie">
                <label for="titre-module">Titre du module</label>
                <input type="text" id="titre-module" name="titre" placeholder="Titre complet du module" required>
            </div>
            <div class="groupe-saisie">
                <label for="description-module">Description</label>
                <textarea id="description-module" name="description" rows="3"
                    placeholder="Description du module..."></textarea>
            </div>
            <button type="submit" class="btn-principal">Creer le module</button>
        </form>
    </div>

    <div class="liste-carte liste-modules-promoteur">
        <h3>Modules existants</h3>
        <div id="liste-modules" class="grille-simple">
            <!-- Charge par JS -->
        </div>
    </div>
</div>
