<div class="conteneur-visionneuse">
    <aside id="barre-cours">
        <button id="btn-retour-catalogue">Retour au catalogue</button>
        <h2 id="titre-cours-visionneuse">Chargement du cours ...</h2>
        <div class="barre-progression-cours">
            <div class="fond-barre-progression">
                <div id="remplissage-progression-cours" style="width: 0%;"></div>
            </div>
            <span id="pourcentage-cours">0% termine</span>
        </div>
        <nav id="liste-chapitres">

        </nav>
    </aside>

    <section id="zone-lecture-lecon">
        <div id="header-lecon">
            <h1 id="titre-lecon-actuelle">Selectionnez une lecon</h1>
        </div>
        <article id="contenu-texte-lecon">
            <p class="message-selection">Veuillez selectionner un chapitre dans le menu lateral pour commencer votre
                apprentissage.</p>
        </article>
        <div id="barre-actions-lecon" class="masquee">
            <button id="btn-lecon-precedente">Lecon precedente</button>
            <button id="btn-marquer-terminee">Marquer comme lu & Continuer</button>
            <button id="btn-lecon-suivante">Lecon suivante</button>
            <button id="btn-passer-quiz" class="btn-action-majeure">Passer le quiz final</button>
        </div>
    </section>
</div>
